body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-pad{
  padding-left: 0px;
  padding-right: 0px;
}

.signup-box{
  margin: 4em;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.form-button-bpad{
  padding-bottom: 2em;
}

.slogan-main{
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin:auto;
  width: 50%;
}

.cursive-font{
  font-family: 'Ephesis', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.navbrand-pdright{
  padding-right: 2rem;
}

.nav-links{
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 1.4rem;
  margin-left:.4rem;
  margin-right:.4rem;
}

#brandNavText{
  color: #f0f0f0;
}

#login_button{
  color: #f0f0f0;
}